@import "variables";
.information {
  font-family: $font-main;
  //background: aqua;
  display: flex;
  flex-direction: column;
  width: 40vw;
  max-width: 400px;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 1rem;
  @media screen and (max-width: $xsmall) {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .description{
    //background: blueviolet;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    .top{
      //background: tomato;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .name{
        //background: cadetblue;
        font-size: 3rem;
      }
      .back-button{
        font-size: 1rem;
        //background: antiquewhite;
        &:hover {
          color:red;
          cursor: pointer;
        }
      }
    }
    .about{
      //background: chartreuse;
      font-size: 1rem;
    }
  }
  .selection{
    //background: crimson;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-bottom: 1rem;
    justify-content: flex-start;
    @media screen and (max-width: $xsmall) {
      width: 100%;
    }
    .container{
      //background: blue;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      width: 100%;
      margin: 0;
      padding: 0;
      @media screen and (max-width: $xsmall) {
        width: 50%;
      }
      .size{
        //background: coral;
        font-size: 1.5rem;
      }
      .select{
        //background: greenyellow;
      }
    }
  }
  .button-group{
    //background: darkcyan;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1rem;
    .title{
      //background: deepskyblue;
      font-size: 1.5rem;
      width: 100%;
    }
    .buttons-container{
      //background: greenyellow;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      width: 100%;
      margin: 0;
      padding: 0;
      .buttons-group-btns{
        font-size: .8rem;
        margin-left: 0.3rem ;
      }
    }
  }
  .buy-button{
    margin-bottom: 1rem;
    width: 100%;
  }
  .details-ul{
    //background: blue;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .list{
      //background: crimson;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .item{
        //background: greenyellow;
        margin-bottom: .2rem;
      }
    }
  }
}
